{
  "extends": ["next", "next/core-web-vitals", "prettier"],
  "plugins": ["unused-imports"],
  "rules": {
    "prefer-const": "warn",
    "react/display-name": "off",
    "@next/next/no-img-element": "off",
    "unused-imports/no-unused-imports": "warn",
    "import/newline-after-import": "error",
    "no-restricted-imports": ["warn", { "patterns": ["../**"] }],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "pathGroups": [
          {
            "pattern": "$src/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "./**",
            "group": "internal",
            "position": "after"
          }
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ]
  }
}
